*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* #Background-image{
  opacity: 0.7;
} */
img{
  width: 100%;
  height: 600px;
}
.title{
  color: #102406;
  position: absolute;
  top:50px;
  left: 40%;
  font-size: 50px;
}
.title h1{
  font-size: 100px;
  position: relative;
  left:-30%;
}
.who-we-are{
  background-color: #F4EEEB;
}
.who-we-are h2, .team h2{
  font-size: 40px;
}
.who-we-are p {
  font-size: 20px;
}
.who-we-are-flex{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top:30px;
  max-height:100vh
}
.part-1 img{
  width:200px;
  height:200px;
  position:relative;
  left:50%;
  top:-50px;
}
.part-1 p:nth-child(2){
  position: relative;
  top:80px;
  font-weight: bold;
  font-family: 'Akronim', cursive;
  font-size: 48px;
}
.easier{
  position: absolute;
  left:40px;
  margin-top: 10px;
}
#trip-helper{
  width: 550px;
  height: 550px;
  position: relative;
  top:20px;
}
.aims{
  /* background-color: #d4f1c5; */
  margin-top: 20px;
  background-image: url(/assets/zebra\ and\ wildbeest.jpg);
  background-position: cover;
}
.aims img{
width: 50px;
height: 50px;
position: relative;

left: 10px;
}
.aims h3{
  text-align: center;
  font-size: 48px;
  color: #102406;
  font-family: 'Big Shoulders Stencil Display', cursive;
}
.aims p, ul {
  text-align: center;
  font-family: 'Fugaz One', cursive;
}
/* cards css */

.card{
  width: 400px;
  background-color: #F4EEEB;
  height:fit-content
}
.card-img{
  width:100%;
  height:fit-content;
}
#grace{
  height: 270px;
  object-fit: center;
}
.card-body{
  text-align: center;
}
.team h2{
  text-align: center;
}
footer{
  margin-top:5%;
  background-color: #102406;
}
.footer-flex{
  display: flex;
  justify-content: space-evenly;
}
footer img{
  width:100%;
  height:50%;
  margin-left: 0;
}
footer p{
  color: #FFAA00;
}
footer h3{
  color: white;
}
i{
  color: white;
  position: relative;
  left:40%;
  margin: 3%
}
.logo{
  width:30%;
  margin-right:0;
}
.logo p{
  font-family: 'Akronim', cursive;
  font-size: 40px;
  color: black;
}
#copyrights{
color:white;
text-align: center;
text-decoration: overline;
}
.office{
  padding: 0 10% 0 10%;
  border-right: 2px dashed black;
  border-left: 2px dashed black;
}